page {
  background-color: #fff;
}

.img {
  width: 100%;
  height: 100%;
}

.profile_container {
  height: 500px;
  width: 100%;
  position: relative;
}

.profile_bg {
  height: 100%;
  width: 100%;
  filter: blur(10px);
}

.profile_pic {
  position: absolute;
  left: 0;
  right: 0;
  width: 280px;
  height: 280px;
  top: 50%;
  margin: -140px auto 0;
  padding: 6px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 280px;
}

.profile_pic .img {
  border-radius: 280px;
}

.profile_sq {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  bottom: -40px;
  background: #fff;
}

.profile_name {
  font-size: 48px;
  color: #595656;
  margin: 40px 0;
  text-align: center;
}

.profile_name text {
  border-bottom: 4px solid #fa7298;
  padding-bottom: 10px;
}
.profile_data {
  display: flex;
  text-align: center;
  margin-bottom: 40px;
}
.profile_data_item {
  flex: 1;
  font-size: 20px;
}
.profile_data_item_content {
  font-size: 36px;
  color:#595656;
}
.profile_data_item_desc {
  letter-spacing: 10px;
  color: #A5A0A0;
}
.others_item {
  font-size: 32px;
  border-bottom: 2px solid #E2DCDC;
  height: 80px;
  line-height: 80px;
  padding: 0 50px;
  position: relative;
  
}
.others_item_right {
 
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 20px;
  margin-top: -20px;
}
.others_item_right image {
  width: 100%;
  height: 100%;
}
.others_item text {
  color: #929090;
}